@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* .dabew{
    position: relative;
    top: 60px;
    left: 147px;
    font-size: 45px;
    display: inline;
} */

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav ul li{
    padding: 15px 0 0 40px;
}
nav ul li a:hover{
    color: hsl(5, 85%, 63%)
}

nav ul li a{
    color: hsl(240, 100%, 5%);
    text-decoration: none;
}

body{
    height: 100vh;
    width: 98vw;
}

.container{
    display: flex;
    justify-content: center;
    width: 98vw;
    height: 540px;
}

.main1{
    width: 800px;
    height: 500px;
}

.image{
    width: 100%;
}

.content{
    display: flex;
    height: 40%;
}

.head{
    width: 50%;
    font-size: 40px;
    font-family: 'Inter', sans-serif;

}

.help{
    width: 65%;
    margin-top: 25px;
    font-size: 48px;
}

.h{
    width: 50%;
}

.desc1{
    width: 50%;
}

.desc{
    margin-top: 25px;
    font-size: 17px;
    line-height: 22px;
    color: hsl(236, 13%, 42%);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
.btn{
    margin-top: 30px;
}
.heading:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
.slidr-head:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
button:hover{
    background-color: hsl(240, 100%, 5%);
    animation: 0.9 ease-in;
}

button{
    border-style: solid;
    font-family: 'Inter', sans-serif;
    letter-spacing: 5px;
    width: 200px;
    color: white;
    height: 50px;
    background-color: hsl(5, 85%, 63%);
    font-weight: 600;
}

.colum{
    width: 400px;
    height: 529px;
    background-color: hsl(240, 100%, 5%);
}

.main2{
    margin-left: 20px;
    height: 583px;
}

.nw{
    padding-top: 30px;
}

.same{
    height: calc(88% / 3);
}

.store{
    height: 583px;
}
.content1{
    height: 171px;
}

.heading{
    padding-left: 20px;
    padding-top: 32px;
    color: white;
}


.new{
    padding-left: 20px;
    color: hsl(35, 77%, 62%);
    font-family: 'Inter', sans-serif;
    height: 12%;
    padding-left: 20px;
}

.text{
    padding-left: 20px;
    width: 82%;
    font-size: 17px;
    line-height: 22px;
    color: hsl(233, 8%, 79%);
    margin-top: revert;
}

.same-desc{
    height: 171px;
}
.sans{
    font-family: 'Inter', sans-serif;
}

.main3{
    width: 98vw;
}

hr{
    width: 90%;
    margin-left: 19px;
}
.slidr{
    display: flex;
    justify-content: space-evenly;
    width: 96%;
}
.slidr-head{
    margin-top: 10px;
}

.items{
    display: flex;
    margin: 1.5rem 0 1rem 0;
    width: 30%;
}

.slidr-con{
    display: flex;
    width: 30vw;
    height: 127px;
    margin: auto;
}

.slidr-img{
    width: 100px;
    height: auto;
}

.slidr-txt{
    width: 65%;
    font-family: 'Inter', sans-serif;
}

.para{
    margin-top: 4px;
    line-height: 23px;

}

.grey{
    color: hsl(236, 13%, 42%);
}
.left{
    padding-left: 20px;
}
.d{
    color: hsl(233, 8%, 79%);
}

.num{
    font-size: 20px;    
}
@media screen and (max-width: 1247px){

    nav{
        width: 98vw;
    }

    .colum{
        width: 325px;
        height: 620px;
    }
    .slidr{
        margin-top: 100px;
        margin-left: auto;
    }
    .image{
        margin-left: 5px;
    }
    .help{
        font-size: 45px;
        width: 220px;
        padding-left: 30px;
    }
    .desc{
        line-height: 27px;
    }

    .slider-co{
        width: 100vw;
        display: flex;
        justify-content: center
    }
    .slidr-txt{
        width: 148px;
        margin-right: 20px;
    }
    

    .slidr-con{
        display: flex;
        flex-direction: column;

    }
    .main1{
        width: 100%;
    }

    .slidr-txt{
        margin-inline: -18px;
        font-size: 14px;

    }
    nav ul li{
        padding: 3px 0 0 25px;
    }
    nav ul{
        margin-top: 10px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 909px){

    body{
        overflow-x: hidden;
    }
    nav{
        width: 98vw;
    }
.colum{
    width: 260px;
    font-size: 12px;
    margin-right: 12px;
}
 .content{
    flex-direction: column;
 }  
 .image{
    margin-right: 10px;
 }

 .slidr{
    margin-top: 200px;
 }

 .desc1{
    margin-left: 30px;
    width: 363px;
 }

 .help{
    font-size: 30px;
    width: 330px;
 }

 nav ul li{
    padding: 3px 0 0 25px;
}
nav ul{
    margin-top: 10px;
    margin-right: 40px;
}
}
@media screen and (max-width: 678px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .main2{
        justify-content: center;
        display: flex;
        margin-right: 30px;
    }
    .colum{
        margin-top: 350px;
        margin-right: 20px;
        width: 80vw;
        height: 600px;
    }
    .image{
        width: 95vw;
        margin-top: 135px;
    }
    .slidr{
        margin-top: 650px;
        padding-left: 20px;
    
    }
    
    nav ul li{
        padding: 3px 0 0 25px;
    }
    nav ul{
        margin-top: 10px;
        margin-right: 40px;
    }
    nav{
        width: 98vw;
    }
}

@media screen and (max-width: 591px){

    .slidr{
        display: flex;
        flex-direction: column;
    }
    .slidr-con{
        display: flex;
        flex-direction: row;
        width: 400px;
    }
    .slidr-txt{
        width: 70%;
        padding-left: 20px;
    }

    .items{
        width: 90%;
    }
    
    nav ul li{
        padding: 3px 0 0 25px;
    }
    nav ul{
        margin-top: 10px;
        margin-right: 40px;
        font-size: 15px;
    }

    .dabew{
        margin-right: 190px;
        margin-bottom: 100px;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 400px){
    .desc{
        font-size: 13px;
        width: 80vw;
    }
    nav ul{
        margin-right: 190px;
        display: flex;
        flex-direction: column;
    }
    .dabew{
        position: relative;
        left: 180px;
        font-size: 35px;
    }
    body{
        width: 100vw;
    }

    nav ul li{
        padding: 0 7px;
    }
    nav{
        width:98vw;
    }
    .main1{
        width: 50vw;
    }
    .slidr{
        width: 97vw;
    }
}
